@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800;900&display=swap');
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1D2228;
    scroll-behavior: smooth;
}

.cursor{
    filter:drop-shadow( 0 .2px 8px #24b477);
    position: absolute;
    transition: 1s ease;
    color: #24B477;
    font-size: 30px;
    background-color:transparent;
    transition: 2s ease;
    z-index: 2;
    margin:-3rem;
   
}

.fa-laptop-code{
    color: #24B477;
    font-size: 25px;
}
h2{
    margin-left:3rem;
    margin-top: 2rem;
    color: #D9D9D9;
}
/*--------------------------Home Page-----------------------*/
.nav{
    position: fixed;
    display: relative;
    height: 3rem;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    cursor: pointer;
   
}
.navbar{
   display: flex;
   justify-content: space-between;
   z-index: 10;
}

 #del{
    margin:1rem;
    position: relative;
    font-size: 40px;
    color: #1D2228;
    -webkit-text-stroke: 0.1vw #24B477;
   
}

#del::before{
    content:"DEL";
    position: absolute;
    font-size: 40px;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    color: #24B477;
    -webkit-text-stroke: 0vw #24B477;
    border: .1px solid #24B477;
    overflow: hidden;
}
.navbar_content, a{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    color: #D9D9D9;
}

.navbar_content li{
   margin: 1rem;
   font-size:1.3rem;
   color: #D9D9D9;
}

.navbar_content a:hover{
   color:#24B477;
   transition: 1s ease-out;
 }

.btn_bar{
    display: none;
}

.git_icon .fa-github{
    color: #24B477;
    font-size: 30px;
}
.git_icon .fa-github:hover{
    color: #D9D9D9;
    transition: .2s ease-in;
    background-color: transparent;
    
}
/*--------------------------Home Page-----------------------*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:url(image/cursor/cursor.svg),auto;
    height:100vh;
    width: auto;
    flex-direction: row;
}
.introduction{
    display: flex;
    flex-direction: column;
}
#self-intro{
    font-size: 3vw;
    color: #D9D9D9;
    
}
p #hi{
    color: #24B477;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw #24B477;
}
/*--------------------animate*/
p #developer{
    position: relative;
    font-size: 6.2vw;
    color:#1D2228;
    -webkit-text-stroke: 0.1vw #24B477;
    font-stretch:narrower;
   
}

p #developer::before{
    content:attr(data-text);
    display: flex;
    position: absolute;
    top: -3%;
    left: 0;
    width: 0;
    height: 100%;
    color:#24B477;
    -webkit-text-stroke: 0vw #24B477;
    overflow: hidden;
    animation: animate 5s linear infinite;
}
@keyframes animate {
        0%,10%,100%
        {
            width: 0;
        }
        70%,90%
        {
            width: 100%;
        }
       
}
/*--------------------animate*/
.dev{
    content: " ";
    position: relative;
    color: #24B477;
    font-size: 4.6vw;
}
.dev::before{
    content:" ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2228;
    border-left: 2px solid #24B477;
    animation: animates 4.1s steps(8) infinite;
}

@keyframes animates {
        40%,60%
        {
          left: 100%;
        }
        90%
        {
           left: 0%;
        }
       
}
.btn{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.btn button{
    margin: 10px;
    font-size: 20px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

#contact_btn{
    background-color: #1D2228;
    border: 2px solid #24B477;
    border-radius:5px ;
    color: #24B477;
}
#contact_btn:hover{
    background-color: #24B477;
    border: 2px solid #D9D9D9;
    border-radius:5px ;
    color: #D9D9D9;
    transition: .5s ease-in-out;
}
#project_btn{
    background-color: #24B477;
    border: 2px solid #24B477;
    border-radius:5px ;
    color: #1D2228;
}
#project_btn:hover{
    background-color: #1D2228;
    border: 2px solid #24B477;
    border-radius:5px ;
    color: #24B477;
    transition: .5s ease-in-out;
}
/*--------------------------Project Page-----------------------*/
.project{
    display: flex;
    flex-direction: column;
    height:380vh;
    width: auto;
    cursor:url(image/cursor/cursor.svg),auto;
}
.project_wrap{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 30px;
}
.project_content{
    display: flex;
    flex-direction: row;
    margin: 1px 50px;
    padding: 10px 1rem;
    justify-content: space-between;
    text-align: center justify;
    cursor: pointer;
}

.project_content1{
    display: flex;
    flex-direction: row;
    margin: 0 4rem;
    justify-content: space-between;
    text-align: center justify;
    cursor: pointer;
}

#project_image{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.project_image_box{
    width:50%;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
    height:auto;
    overflow: hidden;
}
.project_image_box:hover #project_image {
    transform: scale(1.1);
}
#project_video{
    width:50%;
    height:380px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
}

.project_info{
    width: 37rem;
    height: auto;
   padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
    justify-content: center;
    justify-items: center;
}
.title{
    font-size: 30px;
    color: #24B477;
    margin: 1rem;
    text-align: center;
}
.details{
    font-size: 25px;
    color: #D9D9D9;
}
.description{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.view-btn a{
    margin-top: 90px;
    margin-left:10px;
    font-size: 30px;
    float: right;
    color: #24b477;
}
.view-btn a:hover{
   color: #D9D9D9;
   transition: .2s ease-in;
}
.project_graphic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
   
}
#graphic_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
    
}

.box{
    margin: .5rem;
    width:23%;
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height:auto;
    overflow: hidden;
}
.box:hover #graphic_image {
    transform: scale(1.1);
}
#graphic_imagess{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}
.box1{
    margin: 1rem;
    width:50%;
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height:auto;
    overflow: hidden;
}
.box1:hover #graphic_imagess {
    transform: scale(1.1);
}
#graphic_images{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}
.box2{
    margin: 1rem;
    width:100%;
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height:auto;
    overflow: hidden;
}
.box2:hover #graphic_images {
    transform: scale(1.1);
}
/*--------------------------Skills Page-----------------------*/
.skills{
    display: flex;
    cursor:url(image/cursor/cursor.svg),auto;
    flex-direction: column;
    height:80vh;
    width: auto;
}
.skills_card{
    display: flex;
    justify-content:center;
    justify-items: center;
    flex-direction: row;
}
.skills_content{
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width:200px;
    height:auto;
    margin: 10px;
    padding: 5rem auto;
    text-align: center;
    cursor: pointer;
  
}
.skills_content:hover{
    animation: float 1.5s ease-in-out infinite;
}
#skill_image_size{
    width: 50%;
    height: auto;
    margin: 10px;
    text-align: center;
}

#skills_description{
    color: #D9D9D9;
    font-size: 1rem;
    font-weight: medium;
}
/*--------------------------Contact Page-----------------------*/
.contact{
   cursor:url(image/cursor/cursor.svg),auto;
   display: flex;
   width: auto;
   justify-content:center;
   justify-items: center;
   margin:10rem;
   font-family: 'Poppins', sans-serif;

}
.contact_card{
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width:300px;
    margin:20px;
    height: auto;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
}
@keyframes float{
    0%{
      
        transform: translateY(0px);
    }
    50%{
      
        transform: translateY(-20px);
    }
    100%{
       
        transform: translateY(0px);
    }

}
#get_in_touch{
    text-align: center;
    font-size: 40px;
    color: #24B477;
}
.contact_email{
    font-size: 15px;
    margin:1.3rem 1.3rem;
    color: #D9D9D9;
}
.contact_email i{
    text-align: center;
    color: #24B477;
}
.contact_details{
    display: flex;
    font-size:40px;
    margin:2rem 2rem;
    flex-direction:row;

}
.contact_details p a{
    padding: 0 10px;
    color: #24B477;
}
.contact_details p a:hover{
    padding: 0 10px;
    color:#D9D9D9;
    transition: .3s ease-in;
}
.contact_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_cards #email{
    font-size: 1rem;
    width: 500px;
    padding: 3px;
    height: 30px;
    border: 1px solid #24B477;
    border-radius: 5px;
    color: white;
}
.contact_cards #message{
    font-size: 1rem;
    text-align: center;
    width: 500px;
    height: 200px;
    border: 1px solid #24B477;
    border-radius: 5px;
    color: white;
}
.submit{
    color: #1D2228;
    font-size: 1rem;
    padding: 3px 10px;
    background-color: #24B477;
    border: 1px solid #24B477;
    border-radius: 3px;
    
}
.submit:hover{
    color: #24B477;
    font-size: 1rem;
    padding: 3px 10px;
    background-color:#1D2228 ;
    border: 1px solid #24B477;
    border-radius: 3px;
    transition: .5s;
}
footer{
   text-align: center;
   font-size: 13px;
   color: #D9D9D9;
   font-family: 'Poppins', sans-serif;

}
#copyright{
    color: #24B477;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*------------------------mobile---------------*/
@media screen and (max-width:700px) {
    /*--------------------------Nav Page Mobile-----------------------*/
    
       .navbar_content{
           display: none;
           position: absolute;
           flex-direction: column;
           align-items: center;
           justify-content:center ;
           width:100%;
           height: 100vh;
           left: 0;
           z-index: -3;
           animation-name: nav_flow;
           animation-duration: 1s;
       }
       @keyframes nav_flow{
        from {left:-50px; opacity:0} 
        to {left:5px; opacity:1}
      }
      
       .navbar_content a:hover{
        background-color: #24B477;
        color: #D9D9D9;
        padding:20px 60px;
        transition: .5s ease-in-out;
        border-radius:10px;
        opacity: .8;

       }

       .navbar_content  .git_icon:hover {
         background-color: transparent;
         padding:0 10px;
       }
       
       h1{
           margin: 10px;
       }
       .btn_bar{
           color: #D9D9D9;
           display:block;
           justify-content: end;
           margin: 20px 25px;
           font-size: 20px;
       }
       .cursor{
           filter:drop-shadow( 0 .2px 8px #24b477);
           position: absolute;
           transition: 1s ease;
           color: #24B477;
           font-size: 20px;
           background-color:transparent;
           transition: 2s ease;
           width: 0;
           height: 0;
           margin: 0;
           z-index: 1;
       }
       
       .fa-laptop-code{
           color: #24B477;
           font-size: 25px;
       }
       h2{
         text-align: center;
         margin:1rem;
        color: #D9D9D9;
       }
      
       /*--------------------------Home Page Mobile-----------------------*/
       .home{
           display: flex;
           justify-content: center;
           align-items: center;
           cursor:url(image/cursor/cursor.svg),auto;
           height:100vh;
           width: auto;
           flex-direction: row;
       }
       .introduction{
           display: flex;
           flex-direction: column;
       }
       #self-intro{
           font-size: 20px;
           color: #D9D9D9;
           
       }
       p #hi{
           color: #24B477;
           font-size: 30px;
           -webkit-text-stroke: 0.1vw #24B477;
       }
       /*--------------------animate*/
       p #developer{
           position: relative;
           font-size: 45px;
           color:#1D2228;
           -webkit-text-stroke: 0.1vw #24B477;
           font-stretch:narrower;
          
       }
       
       p #developer::before{
           content:attr(data-text);
           display: flex;
           position: absolute;
           top: -3%;
           left: 0;
           width: 0;
           height: 100%;
           color:#24B477;
           -webkit-text-stroke: 0vw #24B477;
           overflow: hidden;
           animation: animate 5s linear infinite;
       }
       @keyframes animate {
               0%,10%,100%
               {
                   width: 0;
               }
               70%,90%
               {
                   width: 100%;
               }
              
       }
       #del{
        margin:1rem;
        position: relative;
        font-size: 40px;
        color: #1D2228;
        -webkit-text-stroke: 0.1vw #24B477;   
      }

        #del::before{
            content:"DEL";
            position: absolute;
            top: 0;
            left: 0;
            width: 35px;
            height: 100%;
            color: #24B477;
            -webkit-text-stroke: 0vw #24B477;
            border: .1px solid #24B477;
        }
       /*--------------------animate*/
       .dev{
           content: " ";
           position: relative;
           color: #24B477;
           font-size: 21px;
           font-weight:500;
       }
       .dev::before{
          display: flex;
           content:" ";
           position: absolute;
           top: 0;
           left: 0;
           width: 99%;
           height: 100%;
           background-color: #1D2228;
           border-left: 1px solid #24B477;
           animation: animates 4.2s steps(12) infinite;
       }
       
       @keyframes animates {
               40%,60%
               {
                 left: 99%;
               }
               90%
               {
                  left: 0%;
               }
              
       }
       .btn{
           display: flex;
           justify-items: center;
           justify-content: center;
       }
       .btn button{
           margin: 10px;
           font-size: 20px;
           width: 120px;
           height: 50px;
           cursor: pointer;
       }
       
       #contact_btn{
           background-color: #1D2228;
           border: 2px solid #24B477;
           border-radius:5px ;
           color: #24B477;
       }
       #contact_btn:hover{
           background-color: #24B477;
           border: 2px solid #D9D9D9;
           border-radius:5px ;
           color: #D9D9D9;
           transition: .5s ease-in-out;
       }
       #project_btn{
           background-color: #24B477;
           border: 2px solid #24B477;
           border-radius:5px ;
           color: #1D2228;
       }
       #project_btn:hover{
           background-color: #1D2228;
           border: 2px solid #24B477;
           border-radius:5px ;
           color: #24B477;
           transition: .5s ease-in-out;
       }
      /*--------------------------Mobile Project Page-----------------------*/
        .project{
            display: flex;
            display: row;
            height:380vh;
            width: 100%;
            z-index: 1;
        }
        .project_card{
            display: flex;
            flex-direction: column;
            justify-content:center;
            justify-items: center;
           
        }
        .project_content{
           display: flex;
           flex-direction: column;
           text-align: center justify;
           margin: 1rem;
           cursor: pointer;
        }

        .project_content1{
            display: flex;
            flex-direction:column;
            margin: 0 4rem;
             justify-content:center;
            justify-items: center;
        }

        #project_image{
            width: 100%;
            height: 100%;
            transition: 1s;
        }

        .project_image_box{
            width:100%;
            height:auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
            height:auto;
            overflow: hidden;
        }
        .project_image_box:hover #project_image {
            transform: scale(1.1);
        }
        #project_video{
            width:100%;
            height:315px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
        }

        .project_info{
           width: 100%;
           height: auto;
           padding: 2rem;
           margin-top: 1rem;
           border-radius: 10px;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
           justify-content: center;
           justify-items: center;
           text-align:justify ;
        }
        .title{
            font-size: 20px;
            color: #24B477;
            margin: 2rem;
            text-align: center;
        }
        .details{
            font-size: 20px;
            color: #D9D9D9;
        }
        .description{
            color: white;
            font-family: 'Poppins', sans-serif;
        }
        .view-btn a{
            margin-top: 90px;
            margin-left:10px;
            font-size: 30px;
            float: right;
            color: #24b477;
        }
        .view-btn a:hover{
        color: #D9D9D9;
        transition: .2s ease-in;
        }
        .project_graphic{
            display: flex;
            width: 110%;
            margin: 0 -1.5rem;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
        
        }
        #graphic_image{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: 1s;
            
            
        }

        .box{

            width:100%;
            border: 10px solid transparent;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            height:auto;
            overflow: hidden;
        }
        .box:hover #graphic_image {
            transform: scale(1.1);
        }
        #graphic_imagess{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: 1s;
        }
        .box1{
            margin-top: 40px;
            width:99%;
            border: 10px solid transparent;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            height:auto;
            overflow: hidden;
        }
        .box1:hover #graphic_imagess {
            transform: scale(1.1);
        }
        #graphic_images{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: 1s;
        }
        .box2{
            width:100%;
            border: 10px solid transparent;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            height:auto;
            justify-content: center;
            justify-items: center;
            overflow: hidden;
        }
        .box2:hover #graphic_images {
            transform: scale(1.1);
        }
       /*--------------------------Skills Page Mobile-----------------------*/
       .skills{
           display: flex;
           cursor:url(image/cursor/cursor.svg),auto;
           flex-direction: column;
           height:100vh;
           width: auto;
           margin: 1.4rem; 
           justify-content:center;
           justify-items: center;


       }
       .skills_card{
           display: flex;
           justify-content:center;
           justify-items: center;
           flex-direction: row;
       }
       .skills_content{
           border: 10px solid transparent;
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
           border-radius: 5px;
           width:600px;
           height:auto;
           margin: .5rem;
           padding: 5rem auto;
           cursor: pointer;
       }
       .skills_content:hover{
        animation: float 1.5s ease-in-out infinite;
       }
       #skill_image_size{
        width: 100%;
        height: auto;
        margin: 1px;
        text-align: center;
    }    
       #skills_description{
        font-family: 'Poppins', sans-serif;
           color: #D9D9D9;
           font-size: 10px;
           font-weight: medium;
       }
    /*--------------------------Contact Page-----------------------*/
.contact{
    display: flex;
    width: auto;
    justify-content:center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
 }
 .contact-flex{
    display: flex;
    justify-content: center;
    justify-items: center;
 }
 .contact_card{
    display: flex;
     flex-direction: column;
     border: 10px solid transparent;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
     border-radius: 20px;
     width:300px;
     height: auto; 
     animation: float 3s ease-in-out infinite;
     cursor: pointer;
     justify-content:center ;
     align-items: center;
 }
 @keyframes float{
     0%{
       
         transform: translateY(0px);
     }
     50%{
       
         transform: translateY(-20px);
     }
     100%{
        
         transform: translateY(0px);
     }
 
 }
 #get_in_touch{
     display: flex;
     text-align: center;
     font-size: 40px;
     color: #24B477;
 }
 .contact_email{
     font-size: 14px;
     margin:1.3rem 1rem;
     color: #D9D9D9;
 }
 .contact_email i{
     text-align: center;
     color: #24B477;
 }
 .contact_details{
     display: flex;
     font-size:40px;
     margin:2rem 2rem;
     flex-direction:row;
 
 }
 .contact_details p a{
     padding: 0 10px;
     color: #24B477;
 }
 .contact_details p a:hover{
     padding: 0 10px;
     color:#D9D9D9;
     transition: .3s ease-in;
 }
 .contact_cards{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .contact_cards #email{
     font-size: 1rem;
     width: 300px;
     padding: 3px;
     height: 30px;
     border: 1px solid #24B477;
     border-radius: 5px;
     color: white;
     margin-top: 1rem;
 }
 .contact_cards #message{
     font-size: 1rem;
     text-align: center;
     width: 300px;
     height: 200px;
     border: 1px solid #24B477;
     border-radius: 5px;
     color: white;
 }
 .submit{
     color: #1D2228;
     font-size: 1rem;
     padding: 3px 10px;
     background-color: #24B477;
     border: 1px solid #24B477;
     border-radius: 3px;
     
 }
 footer{
    text-align: center;
    font-size: 13px;
    color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
 
 }
 #copyright{
     color: #24B477;
 }
     
   
   }
/*------------------------------
--------------------------------
----------------------------------
--------------------------------------
--------------------------------------*/
@media screen and (min-width:701px) and (max-width:1230px) {
 /*--------------------------Home Page Tablet-----------------------*/
 .navbar_content{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    width:100%;
    height: 100vh;
    left: 0;
    z-index: -3;
    animation-name: nav_flow;
    animation-duration: 1s;
}
@keyframes nav_flow{
    from {left:-50px; opacity:0} 
    to {left:5px; opacity:1}
  }
.navbar_content a:hover{
 background-color: #24B477;
 color: #D9D9D9;
 padding:20px 60px;
 transition: .5s ease-in-out;
 border-radius:10px;
 opacity: .8;

}

.navbar_content  .git_icon:hover {
    background-color: transparent;
    padding:0 10px;
  }

h1{
    margin: 10px;
}
.btn_bar{
    color: #D9D9D9;
    display:block;
    margin: 20px;
    font-size: 20px;
}
.cursor{
    filter:drop-shadow( 0 .2px 8px #24b477);
    position: absolute;
    transition: 1s ease;
    color: #24B477;
    font-size: 20px;
    background-color:transparent;
    transition: 2s ease;
    z-index: 1;
    margin:10rem
   
}

 #del{
    margin:1rem;
    position: relative;
    font-size: 40px;
    color: #1D2228;
    -webkit-text-stroke: 0.1vw #24B477;
   
}

#del::before{
    content:"DEL.";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    color: #24B477;
    -webkit-text-stroke: 0vw #24B477;
    border: .1px solid #24B477;
    overflow: hidden;
}

/*--------------------------Home Page Tablet-----------------------*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:url(image/cursor/cursor.svg),auto;
    height:100vh;
    width: auto;
    flex-direction: row;
}
.introduction{
    display: flex;
    flex-direction: column;
}
#self-intro{
    font-size: 3vw;
    color: #D9D9D9;
    
}
p #hi{
    color: #24B477;
    font-size: 3vw;
    -webkit-text-stroke: 0.1vw #24B477;
}
/*--------------------animate*/
p #developer{
    position: relative;
    font-size: 6.2vw;
    color:#1D2228;
    -webkit-text-stroke: 0.1vw #24B477;
    font-stretch:narrower;
   
}

p #developer::before{
    content:attr(data-text);
    display: flex;
    position: absolute;
    top: -3%;
    left: 0;
    width: 0;
    height: 100%;
    color:#24B477;
    -webkit-text-stroke: 0vw #24B477;
    overflow: hidden;
    animation: animate 5s linear infinite;
}
@keyframes animate {
        0%,10%,100%
        {
            width: 0;
        }
        70%,90%
        {
            width: 100%;
        }
       
}
/*--------------------animate*/
.dev{
    content: " ";
    position: relative;
    color: #24B477;
    font-size: 4.6vw;
}
.dev::before{
    content:" ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2228;
    border-left: 2px solid #24B477;
    animation: animates 4.1s steps(8) infinite;
}

@keyframes animates {
        40%,60%
        {
          left: 100%;
        }
        90%
        {
           left: 0%;
        }
       
}
.btn{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.btn button{
    margin: 10px;
    font-size: 20px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

#contact_btn{
    background-color: #1D2228;
    border: 2px solid #24B477;
    border-radius:5px ;
    color: #24B477;
}
#contact_btn:hover{
    background-color: #24B477;
    border: 2px solid #D9D9D9;
    border-radius:5px ;
    color: #D9D9D9;
    transition: .5s ease-in-out;
}
#project_btn{
    background-color: #24B477;
    border: 2px solid #24B477;
    border-radius:5px ;
    color: #1D2228;
}
#project_btn:hover{
    background-color: #1D2228;
    border: 2px solid #24B477;
    border-radius:5px ;
    color: #24B477;
    transition: .5s ease-in-out;
}
/*--------------------------Project Page Tablet-----------------------*/
.project{
    display: flex;
    flex-direction: column;
    height:380vh;
    width: auto;
    cursor:url(image/cursor/cursor.svg),auto;
}
.project_wrap{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 30px;
}
.project_content{
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    padding: 1rem 1rem;
    justify-content: space-between;
    text-align: center justify;
    cursor: pointer;
}

.project_content1{
    display: flex;
    flex-direction: row;
    margin: 0 4rem;
    justify-content: space-between;
    text-align: center justify;
    cursor: pointer;
}

#project_image{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.project_image_box{
    width:50%;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
    height:auto;
    overflow: hidden;
}
.project_image_box:hover #project_image {
    transform: scale(1.1);
}
#project_video{
    width:50%;
    height:315px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
}

.project_info{
    width: 30rem;
    height: auto;
    padding: 1rem;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(9, 9, 9, 0.25);
    justify-content: center;
    justify-items: center;
}
.title{
    font-size: 20px;
    color: #24B477;
    margin: 1rem;
    text-align: center;
}
.details{
    font-size: 15px;
    color: #D9D9D9;
}
.description{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.view-btn a{
    margin-top: 90px;
    margin-left:10px;
    font-size: 30px;
    float: right;
    color: #24b477;
}
.view-btn a:hover{
   color: #D9D9D9;
   transition: .2s ease-in;
}
.project_graphic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
   
}
#graphic_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
    
}

.box{
    margin: .5rem;
    width:23%;
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height:auto;
    overflow: hidden;
}
.box:hover #graphic_image {
    transform: scale(1.1);
}
#graphic_imagess{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}
.box1{
    margin: 1rem;
    width:50%;
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height:auto;
    overflow: hidden;
}
.box1:hover #graphic_imagess {
    transform: scale(1.1);
}
#graphic_images{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}
.box2{
    margin: 1rem;
    width:100%;
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height:auto;
    overflow: hidden;
}
.box2:hover #graphic_images {
    transform: scale(1.1);
}
/*--------------------------Contact Page Tablet-----------------------*/
.contact{
  cursor:url(image/cursor/cursor.svg),auto;
   display: flex;
   width: auto;
   justify-content:center;
   justify-items: center;
   margin:10rem;
   font-family: 'Poppins', sans-serif;

}
.contact_card{
    border: 10px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width:250px;
    height: auto;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
}
@keyframes float{
    0%{
      
        transform: translateY(0px);
    }
    50%{
      
        transform: translateY(-20px);
    }
    100%{
       
        transform: translateY(0px);
    }

}
#get_in_touch{
    text-align: center;
    font-size: 40px;
    color: #24B477;
}
.contact_email{
    font-size: 15px;
    margin:1rem 0;
    color: #D9D9D9;
}
.contact_email i{

    color: #24B477;
}
.contact_details{
    display: flex;
    font-size:40px;
    margin:2rem 1rem;
    flex-direction:row;

}
.contact_details p a{
    padding: 0 10px;
    color: #24B477;
}
.contact_details p a:hover{
    padding: 0 10px;
    color:#D9D9D9;
    transition: .3s ease-in;
}
footer{
   text-align: center;
   font-size: 12px;
   color: #D9D9D9;
   font-family: 'Poppins', sans-serif;

}
#copyright{
    color: #24B477;
}

}

#about{
    display: flex;
    flex-direction: column;
    cursor:url(image/cursor/cursor.svg),auto;
}


.timeline-section{
	background-color:transparent;
	min-height: 100vh;
	padding: 10px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
    z-index: 1;
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #24B477;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
    z-index: 1;
}
.timeline-date{
	font-size: 18px;
	color: #24B477;
	margin:6px 0 15px;
}
.timeline-content{
    display: flex;
    flex-direction: column;
    background-color: #1D2228;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
	padding: 30px;
	border-radius: 5px;
    justify-content: center;
    justify-items: center;
}
.timeline-content:hover{
    animation: float 1.5s ease-in-out infinite;
}
.timeline-content h3{
    font-size: 20px;
	color: #24B477;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
    text-align: start;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
    text-align: justify;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}



